*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.debug #sfondopiedipagina{
background-color: black;
}
/**debug**/

.debug .piedipagina{
height: 400px;
background-color: red;
}
.debug .piedipagina2{
height: 400px;
background-color: aqua;
}
.debug .containersezione5{
height: 500px;
}

.debug .colonneinterne{
border: 1px solid white;
background-color: #20b2aa;
}
.debug footer{
background-color: black;
}

.debug .containersezione5{
border-bottom: 1px solid  white;
}
.debug .button{
background-color: red;
border: 1px solid black;
}
.debug .footer-container{
background-color: black;
height: 50px;
border: 1px solid black;
}
.debug .footer{
background-color:#7fffd4;
height: 50px;
}
/**fine debug**/
/**common**/
 h2{
 font-size: 50px;
 font-family:"helvetica Neue",Arial, Helvetica, sans-serif;

 }

 h4{
font-size: 20px ;
font-family:"helvetica Neue",Arial, Helvetica, sans-serif;
margin-top: 20px;
font-weight: lighter;
 }

/**fine common**/
/**header**/
header{
display: flex;
justify-content: center;
background-color: #255ee9 ;
}

.main-header{
display: flex;
width: 80%;
margin-top: 10px;
background-color: #255ee9;
}

.link.nav-debug > h3{
display: inline-block;
color:white;
margin-right: 30px;
}

.login{
border: 1px solid black;
border-radius: 20px;
background-color: white;
align-self: center;
width: 80px;
padding:10px;
text-align: center;
font-size: 15px;
}
.link{
flex-grow: 1;
text-align: center ;
padding: 5px;
flex-shrink: 0;
}
.titolo{
font-size: 50px;
}
.titolo, .sottotitolo{
color:white;
}
.bottoni{
 display: inline-block;
 margin-top: 20px;
 margin-right: 20px;
}
    
.colorebt1{
 border-radius: 20px;
background-color: white;
padding: 10px;
}
.colorebt2{
border-radius: 20px;
background-color: black;
padding: 10px;
color:white
}
.colorebt1::before{
content:"\1F817";
 }
 /** fine header/**
/**prima sezione main**/
.contenitorevuoto{
width: 100%;
height: 400px;
display: flex;
align-items: center;
justify-content: center;
background-image: url(images/jumbo.png);
background-size: cover;

}
.contenitore-interno{
width: 50%;
text-align: center;
}

.containersezione{
display: flex;
justify-content: center;
align-items: center;
margin-top: 100px;
}

.containersx{
width:50%;
}
.margin{
margin-top: 280px;
}
.containerdx{
width: 30%;
}

/**fine sezione**/
/**inizio seconda sezione**/
.order{
order: -1;
}
/**fine seconda sezione**/
/**inizio terza sezione**/
.containergrande{
width: 80%;
}

.containersezionegrande{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
margin-top: 280px;
}
.dowload-mac{
border-radius: 20px;
background-color: #7289da;
margin-top:40px;
font-size: 25px;
display: inline-block;
padding: 10px;
color: white;
}

.dowload{
font-size: 35px;
margin-top: 50px;
}

.dowload-mac::before{
content: "\1F817";
}
/**fine terza sezione**/
/**inizio quarta sezione footer**/
.piedipagina{
width: 20%;
}
.piedipagina>h2{
font-size: 30px;
color: #7289da;
}
.piedipagina2{
width: 60%;
display: flex;
}
.bandiera{
width: 30px;
vertical-align:middle;
margin-top: 30px;
display:inline-block;
color: white;
}

.fa-solid{
font-size: 10px;
}

.colonneinterne{
width:calc(100% /4);
align-items: stretch;
}

.colonneinterne>h2{
font-size: 20px;
}
.containersezione5{
display: flex;
justify-content: center;
align-items: center;
}
/**fine  quarta sezione footer**/ 

/**button footer**/
.footer{
width: 80%;
margin: 0 auto;
display: flex;
justify-content: space-between;

}
.button{
align-self: center;
}
.footer-container{
display: flex;
justify-content: center;
margin-top:10px;
}

