*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/**common**/
 h2{
 font-size: 50px;
 font-family:"helvetica Neue",Arial, Helvetica, sans-serif;

 }

 h4{
font-size: 20px ;
font-family:"helvetica Neue",Arial, Helvetica, sans-serif;
margin-top: 20px;
font-weight: lighter;
 }
footer{
background-color: black;
}


/**fine common**/

/**hover**/
.link.nav-debug h3:hover{
color: red;
}
.login.nav-debug:hover{
background-color: black;
color: white;
}
.hover:hover{
background-color: black;
color: white;
}
.hover2:hover{
background-color: white;
color: black;
}
/**header**/
header{
display: flex;
justify-content: center;
background-color: #255ee9 ;
}

.main-header{
display: flex;
width: 80%;
margin-top: 10px;
background-color: #255ee9;
}

.link.nav-debug > h3{
display: inline-block;
color:white;
margin-right: 30px;
}

.login{
border: 1px solid black;
border-radius: 20px;
background-color: white;
align-self: center;
width: 80px;
padding:10px;
text-align: center;
font-size: 15px;
}
.link{
flex-grow: 1;
text-align: center ;
padding: 5px;
flex-shrink: 0;
}
.titolo{
font-size: 50px;
}
.titolo, .sottotitolo{
color:white;
}
.bottoni{
 display: inline-block;
 margin-top: 20px;
 margin-right: 20px;
}
    
.colorebt1{
 border-radius: 20px;
background-color: white;
padding: 10px;
}
.colorebt2{
border-radius: 20px;
background-color: black;
padding: 10px;
color:white
}
.colorebt1::before{
content:"\1F817";
 }
 /** fine header/**
/**prima sezione main**/
.contenitorevuoto{
width: 100%;
height: 400px;
display: flex;
align-items: center;
justify-content: center;
background-image: url(images/jumbo.png);
background-size: cover;

}
.contenitore-interno{
width: 50%;
text-align: center;
}

.containersezione{
display: flex;
justify-content: center;
align-items: center;
margin-top: 100px;
}

.containersx{
width:50%;
}
.sfondo{
margin-top: 280px;

}
.containerdx{
width: 30%;

}

/**fine sezione**/
/**inizio seconda sezione**/
.order{
order: -1;
}
/**fine seconda sezione**/
/**inizio terza sezione**/
.containergrande{
width: 80%;
}

.containersezionegrande{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
margin-top: 280px;
}
.dowload-mac{
border-radius: 20px;
background-color: #7289da;
margin-top:40px;
font-size: 25px;
display: inline-block;
padding: 10px;
color: white;
}

.dowload{
font-size: 35px;
margin-top: 50px;
}

.dowload-mac::before{
content: "\1F817";
}
/**fine terza sezione**/

/**inizio sezione footer**/

.piedipagina{
width: 20%;
background-color: black;
margin-top: 100px;
}
.piedipagina>h2{
font-size: 30px;
color: #7289da;
margin-bottom:20px;
}
.piedipagina2{
width: 60%;
display: flex;
background-color: black;
margin-top: 100px;
}

.bandiera{
vertical-align:middle;
margin-top: 30px;
color: white;
flex-direction: row-reverse;
}

.bandieraita{
display: flex;
}
.flex{
display: flex;
color: white;
}

.immaagine{
display: block;
width: 20px;

}
.fa-solid{
font-size: 10px;
order: 1;
align-self: center;
}

.fa-brands{
color: white;
margin-top: 20px;
margin-right: 20px;
font-size: 20px;
}

.colonneinterne>h2{
color:#7289da ;
}
.colonneinterne{
width:calc(100% /4);
align-items: stretch;
}

.colonneinterne>h2{
font-size: 20px;
}
.info{
color: white;
font-size: 20px;
margin-top: 20px;
}
.containersezione5{
display: flex;
justify-content: center;
margin-top: 100px;
}

hr{
width: 80%;
margin: auto;
margin-top: 20px;
}
/**fine  quarta sezione footer**/ 

/**button footer**/
.footer{
width: 80%;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 20px;
margin-bottom: 50px;
}

.footer-container{
display: flex;
justify-content: center;
margin-top:10px;
}

.registrati{
color: white;
border-radius: 20px;
background-color:#255ee9;
padding: 10px;
}

